In [ ]:
PASO 1: Exploración Inicial
# Ver información general
#df.info()

# Dimensiones del dataset
#print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

# Primeras filas
#df.head()

# Tipos de datos
#df.dtypes

PASO 2: Detectar Valores Nulos
# Contar valores nulos por columna
#print(df.isnull().sum())

# Porcentaje de valores nulos
#print((df.isnull().sum() / len(df)) * 100)

# Visualizar valores nulos
#import missingno as msno
#msno.matrix(df)
#plt.show()

PASO 3: Manejar Valores Nulos
# Eliminar filas con muchos nulos
#df_clean = df.dropna(thresh=df.shape[1]-3)

# Rellenar valores nulos en 'reviews_per_month'
#df['reviews_per_month'].fillna(0, inplace=True)

# Rellenar con la moda o mediana
#df['last_review'].fillna(df['last_review'].mode()[0], inplace=True)

# Eliminar columnas con demasiados nulos
#df.drop(['column_name'], axis=1, inplace=True)
PASO 4: Detectar y Tratar Duplicados
# Verificar duplicados
#print(f"Duplicados: {df.duplicated().sum()}")

# Ver filas duplicadas
#df[df.duplicated(keep=False)]

# Eliminar duplicados
#df.drop_duplicates(inplace=True)

# Duplicados basados en columnas específicas
#df.drop_duplicates(subset=['id'], inplace=True)
PASO 5: Valores Atípicos (Outliers)
# Detectar outliers con IQR
#Q1 = df['price'].quantile(0.25)
#Q3 = df['price'].quantile(0.75)
#IQR = Q3 - Q1

# Filtrar outliers
#lower_bound = Q1 - 1.5 * IQR
#upper_bound = Q3 + 1.5 * IQR
#df_clean = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

# Visualizar outliers
#df.boxplot(column='price', by='neighbourhood_group')
#plt.show()
#PASO 6: Limpieza Específica del Dataset
# Eliminar precios = 0 o negativos
#df = df[df['price'] > 0]
#df = df[df['minimum_nights'] > 0]

# Eliminar outliers extremos de precio
#df = df[df['price'] <= 10000]

# Convertir tipos de datos
#df['last_review'] = pd.to_datetime(df['last_review'])

# Normalizar texto
#df['neighbourhood_group'] = df['neighbourhood_group'].str.strip().str.title()

# Eliminar espacios en blanco
#df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
PASO 7: Validación Final
# Verificar limpieza
#print("\n=== DESPUÉS DE LA LIMPIEZA ===")
#print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")
#print(f"\nValores nulos:\n{df.isnull().sum()}")
#print(f"\nDuplicados: {df.duplicated().sum()}")
#print(f"\nEstadísticas:\n{df.describe()}")

# Guardar dataset limpio
#df.to_csv('AB_NYC_2019_clean.csv', index=False)

In [17]:
import pandas as pd
import missingno as msno
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
airbnb = "/workspaces/correaliesel138-a11y-intro-ml/data/raw/internal-link (1).csv"
df = pd.read_csv(airbnb)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:

# Cargar datos
url = 'https://breathecode.herokuapp.com/asset/internal-link?id=927&path=AB_NYC_2019.csv'
df = pd.read_csv(url)

# Información básica
print(df.info())
print(df.describe())
print(df.head())

# Valores nulos
print(df.isnull().sum())

# Análisis por barrio
df.groupby('neighbourhood_group')['price'].mean()

# Visualizaciones
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='neighbourhood_group', y='price')
plt.title('Distribución de Precios por Barrio')
plt.show()

sns.countplot(data=df, x='room_type')
plt.title('Tipos de Habitación')
plt.show()

In [ ]:
#host_name_por_id = df.groupby('host_id')['host_name'].nunique()
#print("host_id con >1 host_name:", (host_name_por_id > 1).sum())

#df['host_id'] = df['host_id'].map(..value_counts().as_dict())
apply(lambda x: 1 if x >=3 else 0)

In [ ]:
Jesús Jiménez Vargas
21:51
#pisos[pisos>=3].count()/pisos.count()*100